<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
  </head>
  <body>
    <h1>
      This is the Home page
    </h1>
  </body>
</html>
