{{template "base" .}}

{{define "title"}}
  <title>Home</title>
{{end}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>This is the Home page</h1>
        <p>Your address is {{index .StringMap "remoteaddr" }}</p>
      </div>
    </div>
  </div>
{{end}}
